/** {*/
  /*border: 1px green solid;*/
/*}*/

html { 
  background: url(../img/tictactoe.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

content {
  background-color: green;
  margin: 0 0 0 20%;
}

.box {
  background-color: yellow;
  border: 1px black solid;
  height: 200px;
  width: 200px;
  display: inline-block;
  float: left;
  transition: 
  -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 1s; 
  transition: width 2s, height 2s, background-color, transform 1s; 
}

.box:hover {
  opacity: 0.5;
}

.box:active {
  transform: scale(-1, -1);
}

.box img {
  height: 200px;
  width: 200px;
}

content .box:nth-child(3n+4) {
  clear: left;

}

h1 {
  text-align: center;
  color: white;
  text-shadow: 3px 1px 1px black;
}

.wrapper {
  margin: 0 auto;
  color: white;
  text-shadow: 3px 1px 1px black;
}

.score h2 {
  display: inline-block;
}

div {
  display: inline-block;
}

.score p {
  display: inline-block;
  font-size: 24px;
  font-weight: 700;
}

.player, .turn {
  display: block;
}

@media (max-width: 800px) {
  .box {
    height: 100px;
    width: 100px;
  }

  .box img {
    height: 100px;
    width: 100px;
  }
}

